* {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 15px;
  }
}

/* Colour */

._cl-blue {
  color: #3d68fb !important;
}

._cl-teal {
  color: #37b1b8 !important;
}

._cl-purple {
  color: #7a47e7 !important;
}

._cl-dark-teal {
  color: #195154 !important;
}

/* Typography */

h1 {
  font-size: 50px;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 37px;
  }
}

p {
  line-height: 1.5;
  color: #666;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  background-color: #ff7227!important;
  border-color: #ff7227!important;
  padding: 16px 24px;
  box-sizing: border-box;
  display: inline-block;
  color: #fff;
  font-weight: 500;
}

/* Navigation */

nav {
  padding: 24px 32px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

.hamburger {
  width: 24px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger > div {
  height: 2px;
  background: #666;
}

.mobile-nav-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0; left: 0;
  font-size: 17px;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}

.mobile-nav-overlay:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  position: absolute;
  top: 0; left: 0;
}

.mobile-nav-overlay > div {
  position: absolute;
  right: 0; top: 0;
  width: 65%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 99;
  transform: translate3d(65%, 0, 0);
  transition: .5s;
}

.mobile-nav-overlay.-active {
  opacity: 1;
  visibility: visible;
  transition: .5s;
}

.mobile-nav-overlay.-active > div {
  transform: translate3d(0, 0, 0);
  transition: .5s;
}

/* Hero */

.hero {
  height: 1px;
  min-height: 700px;
  display: flex;
  position: relative;
}

.hero-content > h1 {
  font-size: 64px;
}

.hero > div {
  height: 100%;
}

.hero > .hero-image {
  flex: 1 35%;
  position: relative;
  background-color: #d4ecef;
  /* background-image: url("../images/header-white-browser-ext.png"); */
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.hero > .hero-image > .dollar {
  width: 250px;
  height: auto;
  position: absolute;
  top: 2rem;
  right: 4rem;
}

.hero > .hero-image > .ext {
  height: 60%;
  width: auto;
  position: absolute;
  bottom: 0; left: 0;
}

.hero > .hero-content {
  flex: 1 65%;
  padding: 148px 13%;
}

@media screen and (max-width: 1140px) {
  .hero > .hero-image {
    flex: 1 20%;
  }

  .hero > .hero-image > .dollar {
    width: 170px;
    height: auto;
    position: absolute;
    top: 10rem;
    right: 4rem;
  }
  
  .hero > .hero-image > .ext {
    width: 120%;
    height: auto;
    position: absolute;
    bottom: 0; left: 0;
  }
}

@media screen and (max-width: 900px) {
  .hero {
    display: block;
    background-color: #d4ecef;
  }

  .hero-content > h1 {
    font-size: 48px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .hero > .hero-image {
    background: none;
    position: absolute;
    left: 0; bottom: 0;
    width: 40%;
    height: 45%;
    overflow: hidden;
  }

  .hero > .hero-image > .dollar {
    width: 90px;
    height: auto;
    position: absolute;
    top: 10%;
    right: 7rem;
  }
  
  .hero > .hero-image > .ext {
    width: 80%;
    height: auto;
    position: absolute;
    bottom: 0; left: 0;
  }
}

/* How it works */

.how-it-works ul li {
  opacity: .4;
}

.how-it-works ul li.-active {
  opacity: 1;
  border-left-width: 3px !important;
  border-left-color: #ff7227 !important;
}

.how-it-works-mobile .row > div.-active {
  opacity: 1;
  border-top-width: 3px !important;
  border-top-color: #ff7227 !important;
}

/* Feature */

.feature {
  background-color: #fafafa;
  height: 650px;
  overflow: hidden;
  position: relative;
}

.feature > div {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.feature.-alt {
  background-color: #fff;
}

.feature.-alt .container .row {
  flex-direction: row-reverse;
}

@media screen and (max-width: 900px) {
  .feature {
    height: auto !important;
  }

  .feature > div {
    top: initial;
    transform: none;
  }
}

/* Retailer */

.retailers {
  background-color: #ecf7f8;
  overflow: visible;
  position: relative;
}

.retailers > div {
  max-width: 640px;
  position: relative;
}

@media screen and (max-width: 1070px) {
  .retailers > div > p {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

.retailers > .logos {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
  max-width: none;
  top: 0; left: 0;
}

.logos > .left > div, .logos > .right > div {
  position: absolute;
  max-width: 180px;
  height: auto;
  z-index: 99;
}

.logos > .left > div > img, .logos > .right > div > img {
  width: 100%;
  height: auto;
}

.logos .adidas {
  width: 150px;
  left: 2rem; top: 3rem;
}

.logos .macy {
  width: 150px;
  left: 14rem; top: -2rem;
}

.logos .sephora {
  width: 170px;
  left: 15rem; bottom: 5rem;
}

.logos .best-buy {
  width: 100px;
  left: 7rem; bottom: 3rem;
}

.logos .pizza-hut {
  width: 100px;
  left: 24rem; bottom: -3rem;
}

.logos .ebay {
  width: 170px;
  right: 20rem; top: -2rem;
}

.logos .forever-21 {
  width: 130px;
  right: 5rem; top: 5rem;
}

.logos .expedia {
  width: 120px;
  right: 15rem;
  bottom: 7rem;
}

.logos .jet {
  width: 120px;
  right: 21rem;
  bottom: -2rem;
}

.logos .sears {
  width: 130px;
  right: 5rem;
  bottom: 1rem;
}

@media screen and (max-width: 1280px) {
  .logos .adidas {
    width: 120px;
    left: 1rem; top: 3rem;
  }
  
  .logos .macy {
    width: 120px;
    left: 12rem; top: -2rem;
  }
  
  .logos .sephora {
    width: 140px;
    left: 8rem; bottom: 5rem;
  }
  
  .logos .best-buy {
    width: 80px;
    left: 4rem; bottom: 3rem;
  }
  
  .logos .pizza-hut {
    width: 100px;
    left: 18rem; bottom: 0rem;
  }
  
  .logos .ebay {
    width: 140px;
    right: 13rem; top: -2rem;
  }
  
  .logos .forever-21 {
    width: 100px;
    right: 2rem; top: 5rem;
  }
  
  .logos .expedia {
    width: 100px;
    right: 9rem; bottom: 7rem;
  }
  
  .logos .jet {
    width: 110px;
    right: 17rem; bottom: -2rem;
  }
  
  .logos .sears {
    width: 110px;
    right: 1rem; bottom: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .logos .adidas {
    width: 120px;
    left: 1rem; top: 3rem;
    display: none;
  }
  
  .logos .macy {
    width: 100px;
    left: 2rem; top: -2rem;
  }
  
  .logos .sephora {
    width: 90px;
    left: 1rem; bottom: -1rem;
  }
  
  .logos .best-buy {
    display: none;
  }
  
  .logos .pizza-hut {
    width: 90px;
    left: 12rem; bottom: -3rem;
  }
  
  .logos .ebay {
    width: 120px;
    right: 1rem; top: -2rem;
  }
  
  .logos .forever-21 {
    display: none;
  }
  
  .logos .expedia {
    display: none;
  }
  
  .logos .jet {
    width: 100px;
    right: 1rem; bottom: -2rem;
  }
  
  .logos .sears {
    display: none;
  }
}

/* Members */

.members-wrapper {
  position: relative;
  overflow: visible;
}

.members {
  background-color: #d3edef;
  position: relative;
  overflow: visible;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.members-wrapper .parachute {
  position: absolute;
  height: 400px;
  right: 0; top: -240px;
  z-index: 99;
}

.members-stats h1 {
  font-size: 72px;
  font-weight: 400;
}

@media screen and (max-width: 900px) {
  .members-stats h1 {
    font-size: 50px;
    font-weight: 400;
  }

  .members-wrapper .parachute {
    position: absolute;
    height: 250px;
    right: 0; top: -180px;
    z-index: 99;
  }
}

@media screen and (max-width: 576px) {
  .members-stats h1 {
    font-size: 40px;
    font-weight: 400;
  }

  .members-stats > div {
    margin-bottom: 32px;
  }

  .members-stats > div:last-of-type {
    margin-bottom: 0;
  }

  .members-wrapper .parachute {
    display: none;
  }
}

/* Footer */

footer div > h1 {
  margin-bottom: 24px;
}

footer ul {
  list-style: none;
}

footer ul li {
  font-size: 13px;
  margin-bottom: 12px;
  opacity: .5;
  transition: .4s ease-in-out;
  cursor: pointer;
}

footer ul li:hover {
  opacity: 1;
  transition: .4s ease-in-out;
}